img{
    width: 115%;
}
.nav-link{
    color: black;
    

}
.nav-link:hover{
    text-decoration: underline  rgb(80, 20, 177);
    color:rgb(80, 20, 177) ;
    

}
.active{
    color: blueviolet;
    text-decoration: underline rgb(82, 8, 116);
}
#s1{
    color: blueviolet;
}
#rr{
    opacity: 0.4;
    
    
}


#jk{
    margin-top: 15px;
    margin-left: 5px;
}
   p{
    margin-bottom: 7rem;
    margin-left: 5px;
    font-size: larger;
   } 
   #kk{
    margin-left: -238px;
    margin-top: -4px;
    margin-bottom: 24px;
    font-size: 4rem;
   }
   #mq{
    margin-bottom: 2rem;
    margin-left: -482px;
    font-size: medium;
   }
   #aq
   {
    margin-left: -467px;
    font-size: 4rem;
   }
   p{
    
   }
     .highlight-word-color{
       color: rgb(142, 137, 146); 
     }   
     {
        width: 300px;
     }    
     .po{
        width: 900px;

     }
     #mq{
        color: white;
     }
     @media(max-width:100px)
     {
.po{
   font-size: larger; 
}
#mq{
    color: white;
}
     }
     #buttoncourse:hover{
        background-color: #5e068a;
        color: white;
        text-align: center;
       
     }